* {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin: 0; }

body {
  padding: 0;
  /* for toggle behavior */ }
  body .vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s; }
  body .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s; }
  body #sidebar.active {
    margin-left: -17rem; }
  body #content.active {
    width: 100%;
    margin: 0; }
  @media (max-width: 768px) {
    body #sidebar {
      margin-left: -17rem; }
    body #sidebar.active {
      margin-left: 0; }
    body #content {
      width: 100%;
      margin: 0; }
    body #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem); } }

.hide {
  display: none; }

.show {
  display: block; }

* {
  box-sizing: border-box;
  text-decoration: none; }

.container__nav {
  width: 1440px;
  margin: 0 auto; }
  .container__nav .nav__part1 {
    display: flex;
    justify-content: space-between; }
    .container__nav .nav__part1 img {
      width: 14em; }
    .container__nav .nav__part1 .icona {
      display: none; }
    .container__nav .nav__part1 .input {
      display: flex;
      width: 50%; }
      .container__nav .nav__part1 .input input {
        border-radius: 50px;
        width: 100%;
        height: 50%;
        margin-top: 1.2em;
        padding: 10px; }
      .container__nav .nav__part1 .input a {
        position: relative;
        right: 7%; }
    .container__nav .nav__part1 i {
      margin-top: 1.8em; }
      .container__nav .nav__part1 i span {
        display: none; }
  .container__nav .nav__part2 {
    display: flex;
    justify-content: space-between; }
  .container__nav .nav__part3 {
    display: none; }

@media (max-width: 1450px) {
  .container__nav {
    width: 1020px !important; } }

@media (max-width: 1040px) {
  .container__nav .nav__part1 {
    flex-direction: column; }
    .container__nav .nav__part1 .responsive {
      display: flex;
      justify-content: space-between; }
      .container__nav .nav__part1 .responsive .icona {
        display: block; }
  .container__nav .nav__part2,
  .container__nav .icon {
    display: none; }
  .container__nav .nav__part3 {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em;
    position: relative;
    justify-content: flex-end;
    flex-direction: column; } }

@media (max-width: 1040px) {
  .container__nav {
    width: 700px !important; }
    .container__nav .nav__part1 .input {
      margin: 0px auto;
      width: 80%; }
      .container__nav .nav__part1 .input input {
        margin-top: 1em; } }

@media (max-width: 700px) {
  .container__nav {
    width: 375px !important; }
    .container__nav .nav__part1 .input {
      width: 90%; }
      .container__nav .nav__part1 .input a {
        right: 10%; }
    .container__nav .nav__part1 .icona {
      margin-right: 10px; } }

.carousel-caption {
  width: 100% !important;
  bottom: 30%;
  left: 0%; }
  .carousel-caption h5 {
    color: #F99436;
    font-weight: 700; }
  .carousel-caption p {
    font-size: 1.4em;
    margin: 3% 0; }
  .carousel-caption button {
    font-weight: 700;
    color: white;
    border: 2px solid #F92279;
    background: #F92279;
    background: linear-gradient(135deg, #F92279 0%, #F95C57 50%, #F99436 100%); }
  .carousel-caption button:hover {
    border: 2px solid #F92279;
    background: transparent;
    color: #F92279; }

.carousel-item img {
  width: 100%;
  height: 90vh; }

.card-body p {
  margin-bottom: 0px; }

@media (max-width: 900px) {
  .carousel-item img {
    height: 70vh; }
  .carousel-caption h5 {
    font-size: 3em; }
  .carousel-caption p {
    font-size: 1.2em;
    margin: 3% 0; } }

@media (max-width: 600px) {
  .carousel-caption h5 {
    font-size: 1.8em; }
  .carousel-caption p {
    font-size: 0.9em;
    margin: 4% 0; }
  .carousel-caption button {
    padding: 0.5em 1em !important;
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: 500; }
  .carousel-item img {
    height: 60vh; } }

@media (max-width: 376px) {
  .cart:nth-child(2) {
    display: none; } }

.container {
  max-width: 1650px;
  margin: 0 auto; }
  .container .promo {
    width: 40%;
    border-radius: 0 50% 50% 0; }
  .container .card {
    width: 24rem; }

@media (max-width: 1600px) {
  .container {
    max-width: 1200px; }
    .container .test {
      width: 45%;
      height: auto; }
    .container .main__populaire__part2 {
      width: 45%; }
      .container .main__populaire__part2 .test2 {
        width: 100%; }
      .container .main__populaire__part2 img {
        width: 50%; } }

@media (max-width: 900px) {
  .container .test,
  .container .main__populaire__part2 {
    width: 100% !important;
    height: auto;
    margin: 0 auto; }
  .container .main__populaire {
    flex-wrap: wrap; }
  .container .card {
    width: 70%;
    margin: 0 auto; }
  .container .cards__item {
    flex-wrap: wrap; } }

/*# sourceMappingURL=main.css.map */
